<!DOCTYPE html>

<html ng-app="app">

<head>
    <meta charset="utf-8"/>
    <title>Market reg</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="registration.js"></script>
</head>

<body>
    <div class="container" ng-controller="registrationController">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <h2 href="/">Market</h2>
            </div>
        </nav>
        <h3>Регистрация</h3>
        <form novalidate ng-submit="newUserRegistration()" ng-show="!registered()">
            <div class="mb-3">
                <label for="userNameField" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="userNameField" name="userName" ng-model="newUser.userName">
            </div>
            <div class="mb-3">
                <label for="passwordField" class="form-label">Пароль</label>
                <input type="text" class="form-control" id="passwordField" name="password" ng-model="newUser.password">
            </div>
            <div class="mb-3">
                <label for="emailField" class="form-label">Email</label>
                <input type="email" class="form-control" id="emailField" name="email" ng-model="newUser.email">
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        <div ng-show="registered()">
            <span>Регистрация прошла успешно!</span>
        </div>
        <a class="btn btn-primary" href={{mainPage}} style="margin-top: 30px">На главную страницу</a>
    </div>
</body>
</html>